<h1>Produtos</h1>
<ul>
    <% @produtos.each do |produto| %>
        <li>
            <%= produto.id %> - <%= link_to produto.nome, produto %>
        </li>
    <% end %>
</ul>

<%= link_to 'Add', new_produto_path, class: 'bi bi-plus' %>