<div class="row">
    <div class="col-12">
        <p><%= @produto.id %> - <%= @produto.nome %></p>
    </div>
</div>
<%= button_to '', @produto, class: 'nav-link bi bi-trash-fill text-danger', method: :delete %>
<%= link_to '', edit_produto_path(@produto), class: 'nav-link bi bi-pencil-fill text-warning' %>