<h1>Vendas</h1>

<ul>
    <% @vendas.each do |venda| %>
        <li>
            <% venda.itens.each do |item| %>
                <%= item.produto.nome %>
            <% end %>
            <p><%= venda.total %> </p>
        </li>
    <% end %>
</ul>

<%= link_to 'Nova venda', new_venda_path %>